p {
    margin-bottom: 8px;
    margin-top: 3px;
    margin-left: 50px;
    margin-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 9pt;
    line-height: 160%;
}

#menu_src {
    display: none;
}

.mw-headline2 {
    padding-top: 90px;
}

#mw-headline2:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    border-top: 2px solid #ccc;
}

#doc-nav-siblings > button > span.glyphicon {
    transform: rotate(90deg);
}

.DocContent {
    margin-top: 24px;
}

.login .headerButton {
    color: #fff !important;
    background-color: #3e8ddd;
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    height: 23px;
    text-align: center;
    margin-right: 2px;
    line-height: 22px;
}

.login .headerButton:hover {
    color: #fff;
    background-color: #1c60a4;
}
