<?xml version="1.0"?>
<book wiki="howto">
  <page title="Apps" file="Category/App(App).html" url="App" src="Category:App(App)">
    <page title="Graphing" file="Category/Graphing(APP).html" url="App/app-graphing" src="Category:Graphing(APP)">
      <page title="3D Polar Plot for Antenna Radiation Pattern" file="App/3D_Polar_Plot_for_Antenna_Radiation_Pattern.html" url="App/3D-Polar-Plot-for-Antenna-Radiation-Pattern" src="App:3D_Polar_Plot_for_Antenna_Radiation_Pattern"/>
      <page title="LaTeX" file="App/LaTeX.html" url="App/LaTeX" src="App:LaTeX"/>
      <page title="Heat Map with Dendrogram(Pro)" file="Category/Heat_Map_with_Dendrogram(App).html" url="App/Heat-Map-Dendrogram" src="Category:Heat_Map_with_Dendrogram(App)">
        <page title="Tutorial for Heat Map with Dendrogram" file="App/Heat_Map_with_Dendrogram.html" url="App/Heat-Map-Dendrogram" src="App:Heat_Map_with_Dendrogram"/>
      </page>
      <page title="Tangent" file="App/Tangent.html" url="App/Tangent" src="App:Tangent"/>
      <page title="Plot Sub Matrix" file="App/Plot_Sub_Matrix.html" url="App/Plot-Sub-Matrix" src="App:Plot_Sub_Matrix"/>
      <page title="Maps Online" file="App/Maps_Online.html" url="App/Maps-Online" src="App:Maps_Online"/>
      <page title="Polyline Profiles" file="App/Polyline_Profiles.html" url="App/Polyline-Profiles" src="App:Polyline_Profiles"/>
      <page title="Volcano Plot" file="App/Volcano_Plot.html" url="App/Volcano-Plot" src="App:Volcano_Plot"/>
      <page title="Treemap Plot" file="App/Treemap_Plot.html" url="App/Treemap-Plot" src="App:Treemap_Plot"/>
      <page title="Zoomed Inset" file="App/Zoomed_Inset.html" url="App/Zoomed_Inset" src="App:Zoomed_Inset"/>
      <page title="Polar Contour Profile" file="App/Polar_Contour_Profile.html" url="App/Polar-Contour-Profile" src="App:Polar_Contour_Profile"/>
      <page title="Soil and Rocks Classification Diagrams" file="App/Soil_and_Rocks_Classification_Diagrams.html" url="App/Soil-Rocks-Classification" src="App:Soil_and_Rocks_Classification_Diagrams"/>
      <page title="Means Plot" file="App/Means_Plot.html" url="App/Means-Plot" src="App:Means_Plot"/>
      <page title="Colormap for Map Data" file="App/Colormap_for_Map_Data.html" url="App/Colormap-for-Map-Data" src="App:Colormap_for_Map_Data"/>
      <page title="Forest Plot" file="App/Forest_Plot.html" url="App/Forest-Plot" src="App:Forest_Plot"/>
      <page title="2D Confidence Ellipse (Pro)" file="App/2D_Confidence_Ellipse.html" url="App/2D-Confidence-Ellipse" src="App:2D_Confidence_Ellipse"/>
      <page title="Paired Comparison Plot" file="App/Paired_Comparison_Plot.html" url="App/Paired-Comparison-Plot" src="App:Paired_Comparison_Plot"/>
      <page title="Data Highlighter" file="App/Data_Highlighter.html" url="App/Data-Highlighter" src="App:Data_Highlighter"/>
      <page title="Venn Diagram" file="App/Venn_Diagram.html" url="App/Venn-Diagram" src="App:Venn_Diagram"/>
      <page title="Font Changer" file="App/Font_Changer.html" url="App/Font-Changer" src="App:Font_Changer"/>
      <page title="2D Smoother" file="App/2D_Smoother.html" url="App/2D-Smoother" src="App:2D_Smoother"/>
      <page title="Graph Maker" file="App/Graph_Maker.html" url="App/Graph-Maker" src="App:Graph_Maker"/>
      <page title="Chromaticity Diagram" file="App/Chromaticity_Diagram.html" url="App/Chromaticity-Diagram" src="App:Chromaticity_Diagram"/>
      <page title="Phylogenetic Tree (Pro)" file="App/Phylogenetic_Tree.html" url="App/Phylogenetic-Tree" src="App:Phylogenetic_Tree"/>
      <page title="Chebyshev Polynomial Fit" file="App/Chebyshev_Polynomial_Fit.html" url="App/Chebyshev-Polynomial-Fit" src="App:Chebyshev_Polynomial_Fit"/>
      <page title="Batch Plotting" file="App/Batch_Plotting.html" url="App/Batch-Plotting-APP" src="App:Batch_Plotting"/>
      <page title="Concave Hull" file="App/Concave_Hull.html" url="App/Concave-Hull" src="App:Concave_Hull"/>
      <page title="3D Wind Rose" file="App/3D_Wind_Rose.html" url="App/3D-Wind-Rose" src="App:3D_Wind_Rose"/>
      <page title="Marginal Abatement Cost Curve" file="App/Marginal_Abatement_Cost_Curve.html" url="App/MACC" src="App:Marginal_Abatement_Cost_Curve"/>
      <page title="X-Ray Diffraction Analysis (Pro)" file="App/X-Ray_Diffraction_Analysis.html" url="App/X-Ray-Diffraction-Analysis" src="App:X-Ray_Diffraction_Analysis"/>
      <page title="Extract Graph Data" file="App/Extract_Graph_Data.html" url="App/Extract-Graph-Data" src="App:Extract_Graph_Data"/>
      <page title="Zoomed Inset Plus" file="App/Zoomed_Inset_Plus.html" url="App/Zoomed-Inset-Plus" src="App:Zoomed_Inset_Plus"/>
      <page title="Correlation Plot(Pro)" file="App/Correlation_Plot.html" url="App/Correlation-Plot" src="App:Correlation_Plot"/>
      <page title="Taylor Diagram" file="App/Taylor_Diagram.html" url="App/Taylor-Diagram" src="App:Taylor_Diagram"/>
      <page title="Polar Heatmap with Dendrogram" file="App/Polar_Heatmap_with_Dendrogram.html" url="App/Polar-Heatmap-Dendrogram" src="App:Polar_Heatmap_with_Dendrogram"/>
      <page title="Graph Annotator" file="App/Graph_Annotator.html" url="App/Graph-Annotator" src="App:Graph_Annotator"/>
      <page title="Animate Plots in Layer" file="App/Animate_Plots_in_Layer.html" url="App/Animate-Plots-in-Layer" src="App:Animate_Plots_in_Layer"/>
      <page title="Color Spectrum Plot" file="App/Color_Spectrum_Plot.html" url="App/Color-Spectrum-Plot" src="App:Color_Spectrum_Plot"/>
      <page title="Ternary Contour Profile" file="App/Ternary_Contour_Profile.html" url="App/Ternary-Contour-Profile" src="App:Ternary_Contour_Profile"/>
      <page title="Torsional Angle Wheel Plot (Pro)" file="App/Torsional_Angle_Wheel_Plot.html" url="App/Torsional-Angle-Wheel-Plot" src="App:Torsional_Angle_Wheel_Plot"/>
      <page title="Extract XY Data from Graph" file="App/Extract_XY_Data_from_Graph.html" url="App/Extract-XY-from-Graph" src="App:Extract_XY_Data_from_Graph"/>
    </page>
    <page title="Data Analysis" file="Category/Data_Analysis(App).html" url="App/app-data-analysis" src="Category:Data_Analysis(App)">
      <page title="Tolerance Intervals(Pro)" file="Category/Tolerance_Intervals(App).html" url="App/Tolerance-Intervals" src="Category:Tolerance_Intervals(App)">
        <page title="Tutorial for Tolerance Intervals" file="App/Tolerance_Intervals.html" url="App/Tutorial-Tolerance-Intervals" src="App:Tolerance_Intervals"/>
        <page title="Algorithm for Tolerance Intervals" file="App/Algorithm_Tolerance_Intervals.html" url="App/Algorithm-Tolerance-Intervals" src="App:Algorithm_Tolerance_Intervals"/>
      </page>
      <page title="Time Series Analysis (Pro)" file="Category/Time_Series_Analysis(App).html" url="App/TSA" src="Category:Time_Series_Analysis(App)">
        <page title="Time Series Plot" file="Category/Time_Series_Plot(App).html" url="App/TSA-TSP" src="Category:Time_Series_Plot(App)"/>
        <page title="Statistics and Test" file="Category/Statistics_and_Test(App).html" url="App/TSA-ST" src="Category:Statistics_and_Test(App)">
          <page title="Autocorrelation and Partial Autocorrelation (ACF &amp;amp; PACF)" file="App/ACF.html" url="App/ACF" src="App:ACF"/>
          <page title="Cross Correlation (CCF)" file="App/CCF.html" url="App/CCF" src="App:CCF"/>
          <page title="Stationary Test" file="App/Stationary_Test.html" url="App/ST" src="App:Stationary_Test"/>
        </page>
        <page title="Transform and Decompose" file="Category/Transform_and_Decompose(App).html" url="App/TSA-TD" src="Category:Transform_and_Decompose(App)">
          <page title="Differences Tool" file="App/Differences.html" url="App/TSA-TD-Diff-Tutorial" src="App:Differences"/>
          <page title="Lag Tool" file="App/Lag.html" url="App/TMA-TD-Lag-Tutorial" src="App:Lag"/>
          <page title="Box-Cox Transformation" file="Category/Box-Cox_Transformation_Tool(App).html" url="App/TSA-TD-BoxCox" src="Category:Box-Cox_Transformation_Tool(App)">
            <page title="Tutorial for Box-Cox Transformation tool" file="App/BoxCox.html" url="App/TSA-TD-BoxCox-Tutorial" src="App:BoxCox"/>
            <page title="Algorithm for Box-Cox Transformation" file="App/Algorithm_BoxCox.html" url="App/TSA-Box-Cox-Algorithm" src="App:Algorithm_BoxCox"/>
          </page>
          <page title="Trend Analysis" file="Category/Trend_Analysis_Tool(App).html" url="App/TSA-TD-TA" src="Category:Trend_Analysis_Tool(App)">
            <page title="Tutorial for Trend Analysis Tool" file="App/Trend_Analysis.html" url="App/TSA-TD-TA-Tutorial" src="App:Trend_Analysis"/>
            <page title="Algorithm for Trend Analysis" file="App/Algorithm_Trend_Analysis.html" url="App/TSA-Trend-Analysis-Algorithm" src="App:Algorithm_Trend_Analysis"/>
          </page>
          <page title="Decomposition" file="Category/Decomposition_Tool(App).html" url="App/TSA-TD-Decomposition" src="Category:Decomposition_Tool(App)">
            <page title="Tutorial for Decomposition" file="App/Decomposition.html" url="App/TSA-TD-Decomposition-Tutorial" src="App:Decomposition"/>
            <page title="Algorithm for Decompostion" file="App/Algorithm_Decomposition.html" url="App/TSA-TD-Decompostion-Algorithm" src="App:Algorithm_Decomposition"/>
          </page>
        </page>
        <page title="Smooth" file="Category/Smooth(App).html" url="App/TSA-Smooth" src="Category:Smooth(App)">
          <page title="Moving Average" file="Category/Moving_Average_Smoothing(App).html" url="App/TSA-Smooth-MovingAverage" src="Category:Moving_Average_Smoothing(App)">
            <page title="Tutorial for Moving Average Smoothing" file="App/Moving_Average.html" url="App/TSA-Smooth-MovingAverage-Tutorial" src="App:Moving_Average"/>
            <page title="Algorithm for Moving Average" file="App/Algorithm_Moving_Average.html" url="App/TSA-Moving-Average-Algorithm" src="App:Algorithm_Moving_Average"/>
          </page>
          <page title="Single Exponential Smoothing" file="Category/Single_Exp_Smoothing(App).html" url="App/TSA-Smooth-SingleExp" src="Category:Single_Exp_Smoothing(App)">
            <page title="Tutorial for Single Exp Smoothing" file="App/Single_Exp_Smoothing.html" url="App/TSA-Smooth-SingleExp-Tutorial" src="App:Single_Exp_Smoothing"/>
            <page title="Algorithm for Single Exponential Smoothing" file="App/Algorithm_Single_Exp.html" url="App/TSA-Smooth-Single-Exp-Algorithm" src="App:Algorithm_Single_Exp"/>
          </page>
          <page title="Double Exponential Smoothing" file="Category/Double_Exp_Smoothing(App).html" url="App/TSA-Smooth-DoubleExp" src="Category:Double_Exp_Smoothing(App)">
            <page title="Tutorial for Double Exponential Smoothing" file="App/Double_Exp_Smoothing.html" url="App/TSA-Smooth-DoubleExp-Tutorial" src="App:Double_Exp_Smoothing"/>
            <page title="Algorithm for Double Exponential Smoothing" file="App/Algorithm_Double_Exp.html" url="App/TSA-Smooth-Double-Exp-Algorithm" src="App:Algorithm_Double_Exp"/>
          </page>
          <page title="Winter's Method (Smoothing)" file="Category/Winter_Smoothing(App).html" url="App/TSA-Smooth-Winters" src="Category:Winter_Smoothing(App)">
            <page title="Tutorial for Winter's Method (Smoothing)" file="App/Winter_Smoothing.html" url="App/TSA-Smooth-Winters-Tutorial" src="App:Winter_Smoothing"/>
            <page title="Algorithm for Winter's Method" file="App/Algorithm_Winters.html" url="App/TSA-Smooth-Winters-Algorithm" src="App:Algorithm_Winters"/>
          </page>
        </page>
        <page title="ARIMA" file="Category/ARIMA(App).html" url="App/TSA-ARIMA" src="Category:ARIMA(App)">
          <page title="ARIMA" file="Category/ARIMA_Tool(App).html" url="App/TSA-ARIMA-Tool" src="Category:ARIMA_Tool(App)">
            <page title="Tutorial for ARIMA Tool" file="App/ARIMA.html" url="App/TSA-ARIMA-Tutorial" src="App:ARIMA"/>
            <page title="Algorithm for ARIMA" file="App/Algorithm_ARIMA.html" url="App/TSA-ARIMA-Algorithm" src="App:Algorithm_ARIMA"/>
          </page>
          <page title="Prewhitening" file="Category/Prewhitening_Tool(App).html" url="App/TSA-ARIMA-Prewhitening" src="Category:Prewhitening_Tool(App)">
            <page title="Tutorial for Prewhitening Tool" file="App/Prewhitening.html" url="App/TSA-ARIMA-Prewhitening-Tutorial" src="App:Prewhitening"/>
            <page title="Algorithm for Prewhitening" file="App/Algorithm_Prewhitening.html" url="App/TSA-Prewhiten-Algorithm" src="App:Algorithm_Prewhitening"/>
          </page>
        </page>
        <page title="Spectral Analysis" file="Category/Spectral_Analysis(App).html" url="App/TSA-SA" src="Category:Spectral_Analysis(App)">
          <page title="Univariate Spectral Density with Daniell Method" file="App/Univariate_Daniell.html" url="App/Univariate-Daniell" src="App:Univariate_Daniell"/>
          <page title="Univariate Spectral Density with Lag Window" file="App/Univariate_Lag.html" url="App/Univariate-Lag" src="App:Univariate_Lag"/>
          <page title="Bivariate Spectral Density with Daniell Method" file="App/Bivariate_Daniell.html" url="App/Bivariate-Daniell" src="App:Bivariate_Daniell"/>
          <page title="Bivariate Spectral Density with Lag Window" file="App/Bivariate_Lag.html" url="App/Bivariate-Lag" src="App:Bivariate_Lag"/>
        </page>
      </page>
      <page title="Attribute Agreement Analysis" file="Category/Attribute_Agreement_Analysis(App).html" url="App/Attribute-Agreement-Analysis" src="Category:Attribute_Agreement_Analysis(App)">
        <page title="Tutorial for Attribute Agreement Analysis" file="App/Attribute_Agreement_Analysis.html" url="App/Tutorial-Attribute-Agreement-Analysis" src="App:Attribute_Agreement_Analysis"/>
        <page title="Algorithm for Attribute Agreement Analysis" file="App/Algorithm_Attribute_Agreement_Analysis.html" url="App/Algorithm-Attribute-Agreement-Analysis" src="App:Algorithm_Attribute_Agreement_Analysis"/>
      </page>
      <page title="Decision Tree Analysis (Pro)" file="App/Decision_Tree_Analysis.html" url="App/Decision-Tree-Analysis" src="App:Decision_Tree_Analysis"/>
      <page title="Reliability and Survival Analysis (Pro)" file="Category/Reliability_and_Survival_Analysis(App).html" url="App/RSA" src="Category:Reliability_and_Survival_Analysis(App)">
        <page title="Parametric Distribution Analysis (Right Censoring)" file="Category/Parametric_Distribution_Analysis(App).html" url="App/SA-Parametric-Dist" src="Category:Parametric_Distribution_Analysis(App)">
          <page title="Tutorial for Parametric Distribution Analysis (Right Censoring)" file="App/SA_Parametric_Dist_Right_Censoring_Tutorial.html" url="App/Tutorial-Parametric-Distribution-Analysis-Right-Censoring" src="App:SA_Parametric_Dist_Right_Censoring_Tutorial"/>
          <page title="Algorithm: Parametric Distribution Analysis (Right Censoring)" file="App/SA_Parametric_Dist_Algorithm.html" url="App/SA-Parametric-Dist-Algorithm" src="App:SA_Parametric_Dist_Algorithm"/>
        </page>
        <page title="Nonparametric Distribution Analysis (Arbitrary Censoring) (Pro)" file="Category/Nonparametric_Distribution_Analysis(App).html" url="App/SA-Nonparametric-Dist" src="Category:Nonparametric_Distribution_Analysis(App)">
          <page title="Tutorial for Nonparametric Distribution Analysis (Arbitrary Censoring)" file="App/SA_Nonparametric_Dist_Tutorial.html" url="App/Tutorial-Nonparametric-Distribution-Analysis-Arbitrary-Censoring" src="App:SA_Nonparametric_Dist_Tutorial"/>
          <page title="Algorithm: Nonparametric Distribution Analysis (Arbitrary Censoring)" file="App/SA_Nonparametric_Dist_Algorithm.html" url="App/SA-Nonparametric-Dist-Algorithm" src="App:SA_Nonparametric_Dist_Algorithm"/>
        </page>
        <page title="Warranty Analysis" file="Category/Warranty_Analysis(App).html" url="App/SA-Warranty" src="Category:Warranty_Analysis(App)">
          <page title="Tutorial for Warranty Analysis" file="App/Warranty_Analysis_Tutorial.html" url="App/Tutorial-Warranty-Analysis" src="App:Warranty_Analysis_Tutorial"/>
          <page title="Algorithm: Warranty Analysis" file="App/SA_Warranty_Analysis_Algorithm.html" url="App/SA-Warranty-Analysis-Algorithm" src="App:SA_Warranty_Analysis_Algorithm"/>
        </page>
        <page title="Accelerated Life Testing" file="Category/Accelerated_Life_Testing(App).html" url="App/SA-Accelerated-Life-Testing" src="Category:Accelerated_Life_Testing(App)">
          <page title="Tutorial for Accelerated Life Testing" file="App/SA_Accelerated_Life_Testingt_Tutorial.html" url="App/Tutorial-Accelerated-Life-Testing" src="App:SA_Accelerated_Life_Testingt_Tutorial"/>
          <page title="Algorithm: Accelerated Life Testing" file="App/SA_Accelerated_Life_Testingt_Algorithm.html" url="App/SA-Accelerated-Life-Testing-Algorithm" src="App:SA_Accelerated_Life_Testingt_Algorithm"/>
        </page>
      </page>
      <page title="Plant Physiology Fitting Functions" file="App/Plant_Physiology_Fitting_Functions.html" url="App/Plant-Physiology-Fitting-Functions" src="App:Plant_Physiology_Fitting_Functions"/>
      <page title="Baseline with Asymmetric Least Squares (Pro)" file="App/Baseline_with_ALS.html" url="App/Baseline-with-ALS" src="App:Baseline_with_ALS"/>
      <page title="ODE Solver" file="App/ODE_Solver.html" url="App/ODE-Solver" src="App:ODE_Solver"/>
      <page title="Level Crossing" file="App/Level_Crossing.html" url="App/Level-Crossing" src="App:Level_Crossing"/>
      <page title="Curvature Radius App" file="App/Curvature_Radius.html" url="App/Curvature-Radius" src="App:Curvature_Radius"/>
      <page title="Compare Linear Fit Parameters/Datasets" file="App/Compare_Linear_Fit_Parameters_Datasets.html" url="App/Compare-LinearFit-Parameters-Datasets" src="App:Compare_Linear_Fit_Parameters_Datasets"/>
      <page title="Allan Variance" file="App/Allan_Variance.html" url="App/Allan-Variance" src="App:Allan_Variance"/>
      <page title="Simple Fit" file="App/Simple_Fit.html" url="App/Simple-Fit" src="App:Simple_Fit"/>
      <page title="Constrained Multiple Regression (Pro)" file="App/Constrained_Multiple_Regression.html" url="App/Constrained-Multiple-Regression" src="App:Constrained_Multiple_Regression"/>
      <page title="Time-Frequency Analysis" file="App/Time-Frequency_Analysis.html" url="App/Time-Frequency-Analysis" src="App:Time-Frequency_Analysis"/>
      <page title="Compare NLFit Parameters/Datasets" file="App/Compare_NLFit_Parameters_Datasets.html" url="App/Compare-NLFit-Parameters-Datasets" src="App:Compare_NLFit_Parameters_Datasets"/>
      <page title="Probability Distribution Calculator (Pro)" file="App/Probability_Distribution_Calculator.html" url="App/Probability-Distribution-Calculator" src="App:Probability_Distribution_Calculator"/>
      <page title="Fourier Self-Deconvolution (Pro)" file="App/Fourier_Self_Deconvolution.html" url="App/Fourier-Self-Deconv" src="App:Fourier_Self_Deconvolution"/>
      <page title="Sequential Fit (Pro)" file="App/Sequential_Fit.html" url="App/Sequential-Fit" src="App:Sequential_Fit"/>
      <page title="White Noise" file="App/White_Noise.html" url="App/White-Noise" src="App:White_Noise"/>
      <page title="Piecewise Fit (Pro)" file="App/Piecewise_Fit.html" url="App/Piecewise-Fit" src="App:Piecewise_Fit"/>
      <page title="Principal Component Analysis for Spectroscopy(Pro)" file="App/Principal_Component_Analysis_for_Spectroscopy.html" url="App/PCA-Spec" src="App:Principal_Component_Analysis_for_Spectroscopy"/>
      <page title="Principal Component Analysis" file="App/Principal_Component_Analysis.html" url="App/PCA" src="App:Principal_Component_Analysis"/>
      <page title="Logistic Regression" file="App/Logistic_Regression.html" url="App/Logistic-Regression" src="App:Logistic_Regression"/>
      <page title="Simple Time Series Analysis (Pro)" file="App/Simple_Time_Series_Analysis.html" url="App/Simple-Time-Series-Analysis" src="App:Simple_Time_Series_Analysis"/>
      <page title="General Linear Regression (Pro)" file="App/General_Linear_Regression.html" url="App/GLR" src="App:General_Linear_Regression"/>
      <page title="Slope Analyzer (Pro)" file="App/Slope_Analyzer.html" url="App/Slope-Analyzer" src="App:Slope_Analyzer"/>
      <page title="Weibull Fit with Least Squares Method" file="App/Weibull_Fit_with_Least_Squares_Method.html" url="App/Weibull-Fit-Least-Squares" src="App:Weibull_Fit_with_Least_Squares_Method"/>
      <page title="Gage Study (Pro)" file="Category/Gage_Study(App).html" url="App/GG" src="Category:Gage_Study(App)">
        <page title="Tutorial for Gage R&amp;amp;R Study" file="App/Tutorial_GG.html" url="App/Tutorial-GG" src="App:Tutorial_GG"/>
        <page title="Algorithm for Gage R&amp;amp;R Study" file="App/Algorithm_GG.html" url="App/Algorithm-GG" src="App:Algorithm_GG"/>
      </page>
      <page title="3D Convex Hull" file="App/3D_Convex_Hull.html" url="App/3D-Convex-Hull" src="App:3D_Convex_Hull"/>
      <page title="Overlap Area" file="App/Overlap_Area.html" url="App/Overlap-Area" src="App:Overlap_Area"/>
      <page title="Redundancy Analysis (Pro)" file="App/Redundancy_Analysis.html" url="App/RDA" src="App:Redundancy_Analysis"/>
      <page title="Cyclic Voltammetry (Pro)" file="App/Cyclic_Voltammetry.html" url="App/Cyclic-Voltammetry" src="App:Cyclic_Voltammetry"/>
      <page title="Global Peak Fit (Pro)" file="App/Global_Peak_Fit.html" url="App/Global-Peak-Fit" src="App:Global_Peak_Fit"/>
      <page title="Spectral Broadening" file="App/Spectral_Broadening.html" url="App/Spectral-Broadening" src="App:Spectral_Broadening"/>
      <page title="3D Smoother" file="App/3D_Smoother.html" url="App/3D-Smoother" src="App:3D_Smoother"/>
      <page title="Factor Analysis (Pro)" file="App/Factor_Analysis.html" url="App/Factor-Analysis" src="App:Factor_Analysis"/>
      <page title="Mask or Change Data in Contour" file="App/Mask_or_Change_Data_in_Contour.html" url="App/Mask-Change-Contour" src="App:Mask_or_Change_Data_in_Contour"/>
      <page title="Peak Deconvolution" file="App/Peak_Deconvolution.html" url="App/Peak-Deconvolution" src="App:Peak_Deconvolution"/>
      <page title="Stats Advisor" file="App/Stats_Advisor.html" url="App/Stats-Advisor" src="App:Stats_Advisor"/>
      <page title="Bubble Image Area (Pro)" file="App/Bubble_Image_Area.html" url="App/Bubble-Image-Area" src="App:Bubble_Image_Area"/>
      <page title="Design of Experiments (Pro)" file="App/Design_of_Experiments.html" url="App/DOE" src="App:Design_of_Experiments"/>
      <page title="Correlation Shift" file="App/Correlation_Shift.html" url="App/Correlation-Shift" src="App:Correlation_Shift"/>
      <page title="Gaussian Mixture Models (Pro)" file="App/Gaussian_Mixture_Models.html" url="App/Gaussian-Mixture-Models" src="App:Gaussian_Mixture_Models"/>
      <page title="Align Peaks" file="App/Align_Peaks.html" url="App/Align-Peaks" src="App:Align_Peaks"/>
      <page title="Global Fit with Multiple Functions (Pro)" file="App/Global_Fit_with_Multiple_Functions.html" url="App/Global-Fit-with-Mul-Func" src="App:Global_Fit_with_Multiple_Functions"/>
      <page title="Fitting Function Library" file="App/Fitting_Function_Library.html" url="App/Fitting-Function-Library" src="App:Fitting_Function_Library"/>
      <page title="Change Point Analysis" file="App/Change_Point_Analysis.html" url="App/Change-Point-Analysis" src="App:Change_Point_Analysis"/>
      <page title="2D Correlation Spectroscopy Analysis (Pro)" file="App/2D_Correlation_Spectroscopy_Analysis.html" url="App/2D-Correlation-Spectroscopy-Analysis" src="App:2D_Correlation_Spectroscopy_Analysis"/>
      <page title="Speedy Fit(Pro)" file="App/Speedy_Fit.html" url="App/Speedy-Fit" src="App:Speedy_Fit"/>
      <page title="Gel Molecular Weight Analyzer" file="App/Gel_Molecular_Weight_Analyzer.html" url="App/Gel-MW-Analyzer" src="App:Gel_Molecular_Weight_Analyzer"/>
      <page title="Neural Network Fitting(Pro)" file="App/Neural_Network_Fitting.html" url="App/Neural-Network-Fitting" src="App:Neural_Network_Fitting"/>
      <page title="2D Peak Analysis(Pro)" file="App/2D_Peak_Analysis.html" url="App/2D-Peak-Analysis" src="App:2D_Peak_Analysis"/>
      <page title="Canonical Correlation Analysis" file="App/Canonical_Correlation_Analysis.html" url="App/Canonical-Correlation-Analysis" src="App:Canonical_Correlation_Analysis"/>
      <page title="Fit Adsorption Isotherm" file="App/Fit_Adsorption_Isotherm.html" url="App/Fit-Adsorption-Isotherm" src="App:Fit_Adsorption_Isotherm"/>
      <page title="Linear Mixed Effects Model(Pro)" file="App/Linear_Mixed_Effects_Model.html" url="App/Linear-Mixed-Effects-Model" src="App:Linear_Mixed_Effects_Model"/>
      <page title="ANOVA from Summary Data" file="App/ANOVA_from_Summary_Data.html" url="App/ANOVA-Summary-Data" src="App:ANOVA_from_Summary_Data"/>
      <page title="SVM Classification" file="App/SVM_Classification.html" url="App/SVM-Classification" src="App:SVM_Classification"/>
      <page title="Standard Curve Analysis(Pro)" file="App/Standard_Curve_Analysis.html" url="App/Standard-Curve-Analysis" src="App:Standard_Curve_Analysis"/>
      <page title="Nonmetric Multidimensional Scaling" file="App/Nonmetric_Multidimensional_Scaling.html" url="App/Nonmetric-Multidimensional-Scaling" src="App:Nonmetric_Multidimensional_Scaling"/>
      <page title="Neural Network Regression (Pro)" file="App/Neural_Network_Regression.html" url="App/Neural-Network-Regression" src="App:Neural_Network_Regression"/>
      <page title="Rank Models by Fit Reports" file="App/Rank_Models_by_Fit_Reports.html" url="App/Rank-Models-Fit-Reports" src="App:Rank_Models_by_Fit_Reports"/>
      <page title="Apparent Integration(Pro)" file="App/Apparent_Integration.html" url="App/Apparent-Integration" src="App:Apparent_Integration"/>
      <page title="MANOVA" file="App/MANOVA.html" url="App/MANOVA" src="App:MANOVA"/>
      <page title="Optimal Cluster Number (Pro)" file="App/Optimal_Cluster_Number.html" url="App/Optimal-cluster-number" src="App:Optimal_Cluster_Number"/>
      <page title="Empirical Mode Decomposition (Pro)" file="App/Empirical_Mode_Decomposition.html" url="App/Empirical-mode-decomposition" src="App:Empirical_Mode_Decomposition"/>
      <page title="Redlich-Kister Polynomial Fit" file="App/Redlich-Kister_Polynomial_Fit.html" url="App/Redlich-Kister" src="App:Redlich-Kister_Polynomial_Fit"/>
      <page title="Tangential Baseline (Pro)" file="App/Tangential_Baseline.html" url="App/Tangential-Baseline" src="App:Tangential_Baseline"/>
      <page title="NetCDF Data Analysis(Pro)" file="App/NetCDF_Data_Analysis.html" url="App/NetCDF-Data-Analysis" src="App:NetCDF_Data_Analysis"/>
      <page title="Structural Equation Modeling(Pro)" file="App/Structural_Equation_Modeling.html" url="App/SEM" src="App:Structural_Equation_Modeling"/>
      <page title="Advanced Time Series Analysis (Pro)" file="App/Advanced_Time_Series_Analysis.html" url="App/Adv-Time-Series-Analysis" src="App:Advanced_Time_Series_Analysis"/>
      <page title="Calcium Transient Analysis" file="App/Calcium_Transient_Analysis.html" url="App/CTA" src="App:Calcium_Transient_Analysis"/>
      <page title="Effect Size for ANOVA(Pro)" file="App/Effect_Size_for_ANOVA.html" url="App/Effect-Size-for-ANOVA" src="App:Effect_Size_for_ANOVA"/>
      <page title="Bootstrap Sampling(Pro)" file="App/Bootstrap_Sampling.html" url="App/Bootstrap-Sampling" src="App:Bootstrap_Sampling"/>
      <page title="Statistical Process Control (Pro)" file="Category/Statistical_Process_Control(App).html" url="App/SPC" src="Category:Statistical_Process_Control(App)">
        <page title="Identify Data Distribution" file="Category/Identify_Data_Distribution(App).html" url="App/IDD" src="Category:Identify_Data_Distribution(App)">
          <page title="Tutorial for Identify Data Distribution" file="App/Tutorial_IDD.html" url="App/Tutorial-IDD" src="App:Tutorial_IDD"/>
          <page title="Algorithm for Identify Data Distribution" file="App/Algorithm_IDD.html" url="App/Algorithm-IDD" src="App:Algorithm_IDD"/>
        </page>
        <page title="Capability Analysis" file="Category/Capability_Analysis(App).html" url="App/CA" src="Category:Capability_Analysis(App)">
          <page title="Tutorial for Capability Analysis" file="App/Tutorial_CA.html" url="App/Tutorial-CA" src="App:Tutorial_CA"/>
          <page title="Algorithm for Capability Analysis" file="App/Algorithm_CA.html" url="App/Algorithm-CA" src="App:Algorithm_CA"/>
        </page>
        <page title="Process Overview" file="Category/Process_Overview(App).html" url="App/PO" src="Category:Process_Overview(App)">
          <page title="Tutorial for Process Overview" file="App/Tutorial_PO.html" url="App/Tutorial-PO" src="App:Tutorial_PO"/>
          <page title="Algorithm for Process Overview" file="App/Algorithm_PO.html" url="App/Algorithm-PO" src="App:Algorithm_PO"/>
        </page>
        <page title="Data Transformation" file="Category/Data_Transformation(App).html" url="App/DT" src="Category:Data_Transformation(App)">
          <page title="Tutorial for Data Transformation" file="App/Tutorial_DT.html" url="App/Tutorial-DT" src="App:Tutorial_DT"/>
          <page title="Algorithm for Data Transformation" file="App/Algorithm_DT.html" url="App/Algorithm-DT" src="App:Algorithm_DT"/>
        </page>
        <page title="Control Charts" file="Category/Control_Charts(App).html" url="App/Control-Charts" src="Category:Control_Charts(App)">
          <page title="Tutorial for Control Charts" file="App/Tutorial_Control_Charts.html" url="App/Tutorial-Control-Charts" src="App:Tutorial_Control_Charts"/>
          <page title="Algorithm for Control Charts" file="App/Algorithm_Control_Charts.html" url="App/Algorithm-Control-Charts" src="App:Algorithm_Control_Charts"/>
        </page>
      </page>
      <page title="Generalized Linear Mixed Model(Pro)" file="App/Generalized_Linear_Mixed_Model.html" url="App/GLMM" src="App:Generalized_Linear_Mixed_Model"/>
      <page title="Sparse Principal Components Analysis(Pro)" file="App/Sparse_Principal_Components_Analysis.html" url="App/Sparse-PCA" src="App:Sparse_Principal_Components_Analysis"/>
    </page>
    <page title="Data Handling" file="Category/Data_Handling(App).html" url="App/app-data-handling" src="Category:Data_Handling(App)">
      <page title="Tafel Extrapolation" file="App/Tafel_Extrapolation.html" url="App/Tafel-Extrapolation" src="App:Tafel_Extrapolation"/>
      <page title="Hysteresis" file="App/Hysteresis.html" url="App/Hysteresis" src="App:Hysteresis"/>
      <page title="Distance Between Two Points" file="App/Distance_Between_Two_Points.html" url="App/Distance-Between-Two-Points" src="App:Distance_Between_Two_Points"/>
      <page title="Onset Of Slope" file="App/Onset_Of_Slope.html" url="App/Onset-Of-Slope" src="App:Onset_Of_Slope"/>
      <page title="Data Factory" file="App/Data_Factory.html" url="App/Data-Factory" src="App:Data_Factory"/>
      <page title="Piecewise Smooth" file="App/Piecewise_Smooth.html" url="App/Piecewise-Smooth" src="App:Piecewise_Smooth"/>
      <page title="Import NMR Data" file="App/Import_NMR_Data.html" url="App/Import-NMR-Data" src="App:Import_NMR_Data"/>
    </page>
    <page title="Import and Export" file="Category/Import_and_Export(App).html" url="App/app-import-export" src="Category:Import_and_Export(App)">
      <page title="Import Shapefile" file="App/Import_Shapefile.html" url="App/Import-Shapefile" src="App:Import_Shapefile"/>
      <page title="Send Graphs to Word" file="App/Send_Graphs_to_Word.html" url="App/Send-Graphs-to-Word" src="App:Send_Graphs_to_Word"/>
      <page title="Google Map Import" file="App/Google_Map_Import.html" url="App/google-map-import" src="App:Google_Map_Import"/>
      <page title="Send Graphs to PowerPoint" file="App/Send_Graphs_to_PowerPoint.html" url="App/Send-Graphs-to-PPT" src="App:Send_Graphs_to_PowerPoint"/>
      <page title="Graph Publisher" file="App/Graph_Publisher.html" url="App/Graph-Publisher" src="App:Graph_Publisher"/>
      <page title="GeoTIFF Export" file="App/GeoTIFF_Export.html" url="App/geotiff-export" src="App:GeoTIFF_Export"/>
    </page>
    <page title="Miscellaneous" file="Category/Miscellaneous(App).html" url="App/app-Miscellaneous" src="Category:Miscellaneous(App)">
      <page title="Color Editor" file="App/Color_Editor.html" url="App/Color-Editor" src="App:Color_Editor"/>
    </page>
    <page title="Data Connector" file="Category/Data_Connector(App).html" url="App/app-data-connector" src="Category:Data_Connector(App)">
      <page title="CSV Connector" file="App/CSV_Connector.html" url="App/CSV-Connector" src="App:CSV_Connector"/>
      <page title="Excel Connector" file="App/Excel_Connector.html" url="App/Excel-Connector" src="App:Excel_Connector"/>
    </page>
  </page>
</book>
