.DynamicMenuStyle
{
    background-color: white;
    border: solid 1px #ACC3DF;
    padding: 1px 1px 1px 1px;
    text-align: left;
}
.DynamicHoverStyle
{
    background-color: #F7DFA5; /*#7C6F57;*/
    color: #333333;
}
.DynamicSelectedStyle
{
    /*background-color:Gainsboro;*/
    color: red;
}
.DynamicMenuItemStyle
{
    font-family: Arial;
    font-size: 10pt !important;
    padding: 2px 5px 2px 5px;
    color: #333333;
    display: block;
}
.StaticSelectedStyle
{
    /*background-color:Gainsboro;*/
    color: red;
}
.StaticMenuItemStyle
{
    font-family: Arial;
    font-size: 10pt !important;
    cursor: pointer;
    padding: 2px 2px;
    color: #333333;
    background-color: Transparent;
    display: block;
}
.StaticHoverStyle
{
    background-color: #84BCCD; /*#7C6F57;*/
    cursor: pointer;
    color: #333333;
    display: block;
}
p
{
    margin-bottom: 8px;
    margin-top: 3px;
    margin-left: 50px;
    margin-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 9pt;
    line-height: 160%;
}
.TopicsPathPopup
{
    display: block;
    border: 1px solid #84BCCD;
    background-color: #FFF;
    padding: 5px 8px;
    min-width: 300px;
    white-space: nowrap;
    font-family: Arial;
    font-size: 12px;
}
.ShowTopicsPathButton
{
    border: 1px solid #84BCCD;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 20px;
}
.ShowTopicsPathButton:hover
{
    background-color: #a4d6fa;
}
.expand-control, .toggle-all-button > a {
    cursor: pointer;
}
.expand-control-text:hover {
    text-decoration: underline;
}
.expand-hidden {
    display: none;
}
#menu_src {
    display: none;
}
.mw-headline2 {
    padding-top: 90px;
}
#mw-headline2:before {
   content: "";
   position: absolute;
   top: -2px;
   left: 0;
   right: 0;
   border-top: 2px solid #ccc;
}

.i18n {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 10px;
    float: left;
}

.treeview {
overflow-x: auto;
border: 1px solid #ccc;
}

.treeview .selected {
color: #a84149;
}

.login .headerButton {
    color: #fff !important;
    background-color: #3e8ddd;
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    height: 23px;
    text-align: center;
    margin-right: 2px;
    line-height: 22px;
}

    .login .headerButton:hover {
        color: #fff;
        background-color: #1c60a4;
    }